:root { 
    /*Fonts*/
    --primary-font:  'Roboto', sans-serif;
    /*Other*/
    --accent-color: #E7E9FC;
    /* FlexBox GRID */
    --items:3
    
}

*,
*::before 
*::after {
    box-sizing: border-box;

}



/* BASE STYLES */

.container {
    width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
 
}

.card-img {
        display: block;
    }

body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
background-color: #ffffff;
color: #434455;
}


/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
   
}
    .last {
    margin-right: 0 
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
    }


 .text {
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 32px;
      }




.button {
    font-family: inherit;
    cursor: pointer;
}



.link {
    
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    cursor: pointer;
    }
    
 .link:hover,
 .link:focus {
    color: #404bbf;
 }   

 .nav {
    padding: 24px 0 24px;
    color: #2e2f42 ;
    
 }

 .address {
    
    font-style: normal;
    color: #434455;
    font-weight: 400;
}

.list {

    list-style: none;
    letter-spacing: 0.02em;
    gap: 24px;
    justify-content: center;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}


     /*HEADER*/

     .header {
        border-bottom: 1px solid #e7e9fc;
     }

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0 24px;
   
}

.item-link {
    margin-right: 40px;
}
.header-container {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    padding: 24px 0 24px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #4D5AE5;

}
.header-logo-studio {
    margin-right: 76px;
    color: #2E2F42;
    padding: 24px 0 24px;
}


.hero {

    padding-top: 188px;
    padding-bottom: 188px;
    margin-bottom: 60px;
    background-color: #2E2F42;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.hero-title {

    font-size: 56px;
    max-width: 496px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    line-height: 1.07;


}


.hero-btn{
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
color: #ffffff;
font-weight: 500;
letter-spacing: 0.04em;
line-height: 1.5;
margin-top: 48px;

}

 .hero-btn:hover,
 .hero-btn:focus {
    background-color: #404BBF;
    color: #ffffff;
 }


 /* FEATURES SECTION */

.section-features { 
    padding: 120px 0 120px;
    
}

 .feature-title {
    font-size: 20px;
    font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}

.features-list {
    display: flex;
    width: 1128px;
    gap: 24px;
    margin: 0 auto;
}

.features-item {
    width: 264px;
   
}

.feature-text {
  
}

  /* OUR WORK */

.section-doing {
    padding-bottom: 120px;
}


   .our-work-title .title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
   }

   .our-work {
    display: flex;

   }

   /* OUR TEAM*/
.section-our-team {
    
    padding-top: 120px;   
    padding-bottom: 120px;
    background-color: #F4F4FD;
}



.team-list {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;

}

.team-card {
    padding: 32px 16px 32px;
}

.team-text {
    text-align: center;
}
   .title-name {
    font-size: 20px;
    font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
text-align: center; 
margin-bottom: 8px;
   }


   /*FOOTER*/
   .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #2E2F42;
   }

   .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
    color: #4D5AE5;

   }
   .footer-logo-studio {
    color: #F4F4FD;
    margin-bottom: 16px;
    display: inline-block;

   }
   .footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
   }


   /*PORTFOLIO*/

   .photo-section {
    padding: 96px 0 120px 0
}


.portfolio-btn {
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);

    padding: 12px 24px;
font-weight: 500;
background-color:#F4F4FD;
text-align: center;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4D5AE5
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    border: 1px solid transparent ;
    background-color: #404BBF;
    color: #FFFFFF;
}

.nav-list-buttons {
    display: flex;
    margin-top: 96px;
    margin-bottom: 72px;
    
}
.photo-title {
    margin-bottom: 8px;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
    color: #2E2F42; 
}



.portfolio-link {
  text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    cursor: pointer;  
}

.portfolio-text {
    letter-spacing: 0.02em;
    color: #434455; 
}

.portfolio-card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;

}

.portfolio-card {
    width: calc((100% - 2 * 24px) / 3);
    padding-bottom: 48px;
}


.portfolio-card-content {
    width: 360px;
padding: 32px 16px;
border: 1px solid var(--cornflower, #E7E9FC);
background: #FFF;
border-top: none;
}
 
