





/* FLEXBOX GRID */

:root {

    --items:3
    --indent: 24px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.card-set-item {
    width: calc(100% - var(--indent) * (var(--items) - 1)) / var(--items)
}